* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none
}

#largevideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
.shop{
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding-left: 10px;
}

.swiper-slide {
    margin-top: 20px;
    background: transparent;
    transition: all .3s ease-in-out;
    justify-content: center;
}
#bag{
    transition: all .3s ease-in-out;
}
#bag:hover{
    transform: scale(1.1);

}

/* #latest{
    display: flex;
    flex-direction: column;
} */


@media (max-width: 550px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 13px;
    }
}

.swiper-slide:hover {

    transform: scale(1.02);

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#link {
    text-decoration: none;
    color: inherit;
}

#list {
    cursor: pointer;
}

.grey {
    color: rgb(101, 101, 101);
    font-weight: 400;


}
.reduce{
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;


}
.chevronup {
    transition: all .3 ease-in-out;
    cursor: pointer;
}

.chevronup.active {
    transform: rotate(180deg);
}

@media (max-width:770px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .red {
        font-size: 0px;

    }
}

@media (max-width: 550px) {
    .reduce {
        width: 20px;
    }

    .chevronup {
        display: none;
    }

}

@media (max-width: 370px) {
    .reduce {
        width: 19px
    }

}