* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    /* background-color: black; */
}

::-webkit-scrollbar {
    width: 0px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}

.swiper-slide {
    margin-top: 20px;
    background: transparent;
    transition: all .3s ease-in-out;


}


@media (max-width: 550px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

.swiper-slide:hover {

    transform: scale(1.02);

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#link {
    text-decoration: none;
    color: inherit;
}

#list {
    cursor: pointer;
}

.grey {
    color: rgb(101, 101, 101);
    font-weight: 400;

   
}

.w-100 {
    width: 100%;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;


}

@media (max-width:770px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
    .red{
        font-size: 0px;

    }
}

@media (max-width: 550px) {
    .reduce {
        width: 20px;
    }

}

@media (max-width: 370px) {
    .reduce {
        width: 19px
    }

}


